/* box-sizing */
* {
  box-sizing: border-box !important;
}

.filled-box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.filled-x-box {
  box-sizing: border-box;
  width: 100%;
}
.filled-y-box {
  box-sizing: border-box;
  height: 100%;
}

/* float */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear-fix::before, .clear-fix::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* head titles */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* lists */
ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

/* label buttons */

