/* box-sizing */
* {
  box-sizing: border-box !important;
}

.filled-box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.filled-x-box {
  box-sizing: border-box;
  width: 100%;
}
.filled-y-box {
  box-sizing: border-box;
  height: 100%;
}

/* float */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear-fix::before, .clear-fix::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* head titles */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* lists */
ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

/* hyperlink */
a {
  text-decoration: none;
  color: #8590a6;
  cursor: pointer;
}
a:hover {
  color: #175199;
}

/* buttons */
button {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}

/* type area 版心 */
.type-area {
  width: 1280px;
  padding: 0 90px;
  margin: 0 auto;
  position: relative;
}

/* show and hide */
.hidden-v {
  visibility: hidden;
}
.show-v {
  visibility: visible;
}

.hidden-d {
  display: none;
}
.show-d {
  display: block;
}

/* modal */
.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.65);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* animations */
@keyframes up-and-down {
  from {margin-top:0;}
  to {margin-top:50px;}
}
