/* float */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear-fix::before, .clear-fix::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* button */
button {
}

/* box-sizing */
.filled-box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.filled-x-box {
  box-sizing: border-box;
  width: 100%;
}
.filled-y-box {
  box-sizing: border-box;
  height: 100%;
}

.vertical-middle {
  vertical-align: middle;
}
